.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: 'center';
}
img {
    height: 7em;
    width: auto;
}

@media (max-width: 900px){
.header{
    display: flex;
    flex-direction: column;
}
.search {
    margin-bottom: .5rem;
}
@media (max-width: 550px){
    .search {
        flex-direction: row !important;
    }
    .search input {
        width: 100%;
        margin-right: .375rem;
    }
}
}